.fixed-left {
    width: 15%;
    position: fixed;
    overflow: visible;
}

.results {
    padding: 15px;
    margin: 0;
    border: solid 1px #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.results .player {
    width: 100%;
    line-height: 15px;
    padding: 5px 0;
    clear: both;
    overflow: hidden;
}

.results .player.active {
    background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    border: solid 1px gold;
    color: darkgreen;
}

.results .player .name {
    display: inline-block;
    width: auto;
    line-height: 15px;
    padding-left: 5px;
    float: left;
}

.results .player .color {
    display: inline-block;
    width: 15px;
    height: 15px;
    float: right;
    margin-right: 5px;
}

.results .player .points {
    display: inline-block;
    margin-right: 5px;
    float: right;
}

.color.red {
    background: red;
}

.color.blue {
    background: blue;
}

.color.green {
    background: green;
}

.color.yellow {
    background: yellow;
}

.color.black {
    background: black;
}

.board {
    position: relative;
    border: solid 1px #ccc;
    width: 80%;
    margin-left: 20%;
    height: 100vh;
    overflow: auto;
    background-image: repeating-linear-gradient(0deg,transparent,transparent 100px,#CCC 100px,#CCC 101px),repeating-linear-gradient(-90deg,transparent,transparent 100px,#CCC 100px,#CCC 101px);
    background-size: 100px 100px;
    z-index: 10;
}

.tile {
    position: absolute;
}

.player-hud {
    overflow: visible;
    padding: 15px;
    margin-top: 20px;
}

.player-hud .drawn-tile {
    width: 100px;
    height: 100px;
    border: solid 2px #ddd;
    margin: auto;
    box-shadow: inset 10px 10px 67px 0px rgba(0,0,0,0.75);
    overflow: visible;
}

.ui-draggable {
    cursor: pointer;
}

.drop-zone {
    background: lightgoldenrodyellow;
}

.drop-zone.active {
    background: yellow;
}

.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.buttons button {
    margin: 0 5px 0 5px;
}