.results {
    width: 15%;
    padding: 15px;
    margin: 0;
    border: solid 1px #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
}

.results .player {
    width: 100%;
    line-height: 15px;
    padding-top: 5px;
    clear: both;
}

.results .player .name {
    display: inline-block;
    width: auto;
    line-height: 15px;
    float: left;
}

.results .player .color {
    display: inline-block;
    width: 15px;
    height: 15px;
    float: right;
}

.results .player .points {
    display: inline-block;
    margin-right: 5px;
    float: right;
}

.color.red {
    background: red;
}

.color.blue {
    background: blue;
}

.color.green {
    background: green;
}

.color.yellow {
    background: yellow;
}

.color.black {
    background: black;
}

.board {
    position: relative;
    border: solid 1px #ccc;
    width: 80%;
    margin-left: 20%;
    height: 100vh;
    overflow: auto;
    background-image: repeating-linear-gradient(0deg,transparent,transparent 100px,#CCC 100px,#CCC 101px),repeating-linear-gradient(-90deg,transparent,transparent 100px,#CCC 100px,#CCC 101px);
    background-size: 100px 100px;
}

.tile {
    position: absolute;
}